# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/modules.xml
/misc.xml
/lcDemo.iml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/sonarlint/
/checkstyleidea.tmp/
/inspectionProfiles/
/checkstyle-idea.xml



/../out/production/lcstudy/com/fjc/demo/test01/Demo01.class
/../out/production/lcstudy/com/fjc/demo/test01/detail
/uiDesigner.xml
